.header{
    border-radius: 4px;
    background-color: #FF521B;
    margin-bottom: 25px;
    
}
.content{
    border-radius: 4px;
    border-color: whitesmoke;
}

.table{
    border-radius: 2;
}

.info{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}
.refresh-btn {
    width: 20px;
    height: 25px;
}

.list ul{
    display: inline;
    padding: 0px 0px 0px 0px;
    margin: 15px;
}

.list li{
    list-style-type: none;
    display: inline;
    padding-right: 5px;

}