body {
  background-color: #020122;
  
  
}
.container-all{
 /*  display: flex; */
  flex-direction: column;
  min-height: 100vh;
}
.container {
  background-color: rgba(179, 175, 175, 0.452);
  border: solid 1px #212529;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  /* height:260px; */
}
iframe{
  margin:50px 50px 10px;

  }

.form-control,
.is-invalid {
  background-color: #020122;
  border: solid 1, 5px white;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 20px;
  color: white;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #020122 inset;
  -webkit-text-fill-color: white !important;
}
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #020122 !important;
}

@media (max-width: 500px) {
iframe{
  margin-left: -50px;
 transform: scale(0.68)
}
}

/* .overlap {
  height: 100vh;
  background: -webkit-repeating-linear-gradient(
    left,
    rgb(0, 0, 0, 0.8),
    rgba(15, 15, 29)
  );
  position: absolute;
  z-index: 50;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
} */
.blur {
  filter: blur(2px);
}
 .btn{
  margin-bottom: 10px;
 }