@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

.wrap {
  //position: absolute;
  /* bottom: 0;
  top: 0;
  left: 0;
  right: 0; */

  margin: auto;
  //height: 310px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
}

// Title
h1 {
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 0.15em;
  font: 300 2.25em 'Lato', sans-serif;
  text-transform: uppercase;
  color: #e7d6d6;

  strong {
    font-weight: 400;
    color: #ff521b;
  }
}

.event-title {
  font-size: 4rem;
  margin-bottom: 50px;
}

.contain-countdown {
  margin: auto;
}

// Countdown
.countdown {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .box-1 {
    display: flex;
    flex-direction: row;
  }

  .box-2 {
    display: flex;
    flex-direction: row;
  }

  .bloc-time {
    margin-right: 45px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .count-title {
    display: block;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
    font: normal 1.3rem 'Lato', sans-serif;
    color: #f0e8e8;
    //color: #1a1a1a;
    text-transform: uppercase;
  }

  .figure {
    position: relative;
    float: left;
    height: 120px;
    width: 110px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;

    > span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font: normal 6em/115px 'Lato', sans-serif;
      font-weight: 700;
      color: #de4848;
    }

    .top,
    .bottom-back {
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      /* @include border-top-radius(10px);
      @include transform(perspective(200px)); */
    }

    .bottom {
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, 0.02);
      }
    }

    .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      /* @include border-top-radius(10px); */

      span {
        /* position: absolute; */
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top,
    .top-back {
      height: 50%;
      overflow: hidden;
      /* @include backface-visibility(hidden); */
    }

    .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      /* @include transform(perspective(200px) rotateX(180deg));
      @include border-bottom-radius(10px); */
      span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

.description {
  display: flex;
  justify-content: center;

  width: auto;
  font-size: 1.65rem;
  color: aliceblue;
  font-family: 'Lato';
  margin-top: 60px;
  text-align: justify;

  letter-spacing: 0.5px;
}

.contain-countdown-description {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .countdown {
    flex-flow: column wrap;
    align-items: center;
    width: auto;

    .contain-countdown {
      margin: 30px;

      .contain-countdown-description {
        flex-direction: row;
      }
    }
  }

  /* .center{
  flex-direction: column;
  align-items: flex-end;
  width: 75%;
}
 */
}
