Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    margin: 20px;
}

.input-button{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.invalid-feedback {
    display: flex;
}

.button-icon{
  background-color: #020122;

}


