.modalBody {
  background-color: rgba(179, 175, 175, 0.603);
  border-radius: 25px;
}
.modalFondo {
    backdrop-filter: blur(2px);
}
.modal-content{
  background-color: rgba(179, 175, 175, 0.603);
  border-radius: 25px;
}

.modal-footer{
    border-top: none;
    justify-content: center;
}

.btn-secondary {
    background-color:#020122
}
